* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    display: flex;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: whitesmoke;
    gap: 120px;
}

.logo {
    display: flex;
    align-items: center;
    height: 200px;
    margin-left: 40px;
    gap: 20px;
}

#logoname {
    color: green;
    font-size: 3.125rem;

}

.descricao {
    margin-left: 40px;
    width: 450px;
}

#texto1 {
    font-size: 2.375rem;
}

#texto2 {
    font-weight: 30;
    font-size: 1.0rem;
}

.input {
    margin-left: 40px;
    width: 500px;
}

input {
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 500px;
    outline: none;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    margin: 10px 0 0 0 ;
}

#Contafont {
    font-weight: bold;
    font-size: 1.125rem;
    margin-left: 5px;
}

#SenhaEsq {
   margin: 5px;
   font-size: .8rem;
   font-weight: bold;
   color: green;
}

#SenhaEsq:hover {
    color: gray;
    transition-property: color;
}

#buttonLogin {
    display: flex;
    color: white;
    border-radius: 20px;
    border: 1px white;
    width: 500px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    background-color: green;
}

#buttonLogin:hover {
    background-color: rgb(197, 238, 144);
    transition-property: all;
    transition-duration: 1s;
}

#NTconta {
    display: flex;
    font-size: 0.75rem;
    margin: 10px 0 0 0;
    margin-left: 10px;
}

#aRegistro {
    display: flex;
    font-size: .8rem;
    font-weight: bold;
    color: green;
    margin: 10px;
}

#aRegistro:hover {
    color: gray;
    transition-property: color;
}

aside {
    display: flex;
    margin-bottom: auto;
    margin-left: auto;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/783289.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1100px;

}